In [ ]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from supervised.automl import AutoML

In [ ]:
iris = load_iris(as_frame=True)

In [ ]:
df = iris["data"]

In [ ]:
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [ ]:
df["target"] = iris["target"]

In [ ]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [ ]:
X = df.drop(["target"], axis=1)
y = df["target"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25
)

automl = AutoML(eval_metric="f1")
automl.fit(X_train, y_train)

predictions = automl.predict(X_test)

AutoML directory: AutoML_1
The task is multiclass_classification with evaluation metric f1
AutoML will use algorithms: ['Baseline', 'Linear', 'Decision Tree', 'Random Forest', 'Xgboost', 'Neural Network']
AutoML will ensemble availabe models
AutoML steps: ['simple_algorithms', 'default_algorithms', 'ensemble']
* Step simple_algorithms will try to check up to 3 models
1_Baseline f1 0.357143 trained in 0.79 seconds
2_DecisionTree f1 0.928571 trained in 10.14 seconds
3_Linear f1 0.964286 trained in 9.46 seconds
* Step default_algorithms will try to check up to 3 models

ntree_limit is deprecated, use `iteration_range` or model slicing instead.
ntree_limit is deprecated, use `iteration_range` or model slicing instead.

4_Default_Xgboost f1 0.964286 trained in 8.21 seconds
5_Default_NeuralNetwork f1 0.857143 trained in 1.25 seconds
6_Default_RandomForest f1 1.0 trained in 6.16 seconds
* Step ensemble will try to check up to 1 model
Ensemble f1 1.0 trained in 0.44 seconds

An input array is constant; the correlation coefficient is not defined.

AutoML fit time: 46.18 seconds
AutoML best model: 6_Default_RandomForest

## Please take a look at all the Reports (Markdown files) generated for different models. 

## Last but not the least, lets take a look at the Naive Bayes model

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import f1_score

In [ ]:
gnb = GaussianNB()

In [ ]:
gnb.fit(X_train, y_train)

GaussianNB()

In [ ]:
print(f1_score(y_test, gnb.predict(X_test), average="weighted"))

0.9473684210526315

## The Naive Bayes model has pretty good performance